.wide-button {
     width: 100%;
}

.rating-star {
     color: #f0f0f0;
     font-size: 180%;
}

.rating-star-good {
     color: #f7f700;
     font-size: 180%;
}

.rating-star-small {
     color: #f0f0f0;
     font-size: 130%;
}

.rating-star-small-good {
     color: #f7f700;
     font-size: 130%;
}

.rating-text {
     font-size: 180%;
     padding-left: 3em;
}

.rating-button {
     background:transparent;
     border:none;
     color:transparent;
     padding: 0;
}